<section data-ng-controller="EventsController" class="indexpage">
	<div class="menu-btn">&#9776;</div>
<nav class="pushy pushy-left">
<div class="profile">
<div class="avatar"><img src="img/avatar/ava_16.jpg" alt="#"><span>5</span></div>
<h3><a href="03.html">Ananew Matvey</a></h3>
<a href="01.html#" class="log_btn">Log in</a>
</div>
<ul class="side_menu">
<li><a href="index.html"><i class="fa fa-bookmark-o"></i>Promo page</a></li>
<li><a href="01.html" class="animsition-link"><i class="fa fa-map-marker"></i>Map</a></li>
<li><a href="05.html"><i class="fa fa-list"></i>Place list</a></li>
<li><a href="04.html"><i class="fa fa-th"></i>Place grid</a></li>
<li><a href="02.html"><i class="fa fa-building-o"></i>Place</a></li>
<li><a href="03.html"><i class="fa fa-user"></i>User profile</a></li>
<li><a href="06.html"><i class="fa fa-book"></i>Blog</a></li>
<li><a href="07.html"><i class="fa fa-file-powerpoint-o"></i>Open post</a></li>
</ul>
</nav>
<!--add-->
<div class="add_place none" id="pl">
<div class="place_form">
<i class="fa fa-times close_window" id="close"></i>
<h3>Add new place<span></span></h3>
<form>
<label>Place name:<input type="text"></label>
<label>latitude:<input type="text"></label>
<label>longitude:<input type="text"></label>
<label>Categori:
<select>
<option value="Cafe">Cafe</option>
<option value="Bar">Bar</option>
<option value="Cinema">Cinema</option>
<option value="Shop">Shop</option>
<option value="Club">Club</option>
<option value="Bank">Bank</option>
</select>
</label>
<a href="01.html#" class="green_btn_header" id="add">Add</a>
</form>
</div>
</div>

<!--autorization-->
<div class="add_place none" id="autorized">
<div class="place_form login_form">
<i class="fa fa-times close_window" id="closeau"></i>
<h3>Autorization<span></span></h3>
<form>
<label>Login:<input type="text"></label>
<label>Password:<input type="text"></label>
<a href="01.html#" class="btn btn-success">Log in</a>
<a href="01.html#" class="btn btn-primary"><i class="icon-facebook"></i>Log in with Facebook</a>
</form>
</div>
</div>

<div class="site-overlay"></div>

<!--Header-->
<div class="container-fluid header">
<div class="row">
<div class="col-md-12"><a href="/#!/" class="logo"><img src="img/logo.png" alt="Eventa"/></a>
<input type="text" class="search" placeholder="search"><a href="01.html#" class="green_btn_header" id="ad">Add place</a></div>
</div>
</div>

<!--categori menu-->
<div class="container-fluid menu mobile">
<div class="row">
<div class="col-md-12">
<span>Categori menu</span>
<i class="fa fa-times" id="close_menu"></i>
<ul>
<li><a href="javascript:toggleMarkers('Shop');" class="shop"><i class="fa fa-shopping-cart"></i></a></li>
<li><a href="javascript:toggleMarkers('Cinema');" class="cinema"><i class="fa fa-film"></i></a></li>
<li><a href="javascript:toggleMarkers('Club');" class="club"><i class="fa fa-beer"></i></a></li>
<li><a href="javascript:toggleMarkers('Cafe');" class="cafe"><i class="fa fa-cutlery"></i></a></li>
<li><a href="javascript:toggleMarkers('Sport');" class="sport"><i class="fa fa-futbol-o"></i></a></li>
<li><a href="javascript:toggleMarkers('Port');" class="port"><i class="fa fa-life-ring"></i></a></li>
<li><a href="javascript:toggleMarkers('Bank');" class="bank"><i class="fa fa-university"></i></a></li>
<li><a href="javascript:toggleMarkers('Post');" class="post"><i class="fa fa-envelope-o"></i></a></li>
<li><a href="javascript:toggleMarkers('Showplace');" class="showplace"><i class="fa fa-eye"></i></a></li>
<li><a href="javascript:toggleMarkers('Park');" class="park"><i class="fa fa-leaf"></i></a></li>
<li class="mobile_menu"><a href="01.html#"><i class="fa fa-bars"></i></a></li>
</ul>
</div>
</div>
</div>

<!--map-->
<div id="map" class="map"></div>
</section>